<html>
<head>
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<body>
    <div class="container">
        <h1>LOGIN</h1>
        <i class="fa fa-user icon"></i>
        <div class="input">
            <input type="text" class="user" id="username" placeholder="Username">
        </div>
        <i class="fa fa-key icon"></i>
        <div class="input">
            <input type="password" class="user" id="password" placeholder="Password">
        </div>
        <i class="fa fa-eye eye"></i>
        <a href="#">Forgett Password?</a>
        <a href="register">Register</a>
        <button class="submit" id="login_btn">Login</button>
    </div>
    <script>

    </script>
        <script src="/js/login.js">

        </script>
</body>
</html>