* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: Anjoman;
}
body {
    background-color: #100b10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 250px;
    height: 400px;
    background: #1b1b1b;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: default;
    border: 2px solid #c651cd;
}
.title {
    width: 100%;
    height: 25%;
    background: #c651cd;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addSection {
    width: 100%;
    height: 15%;
    display: flex;
    border-bottom: 2px solid #c651cd;
}

.taskInput {
    margin: 10px 10 10px 0px;
    padding: 10px;
    width: 180px;
    height: 40px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    border-left: none;
    outline: none;
}
.add {
    width: 60px;
    height: 40px;
    margin: 10px 0px 10px 10px;
    background-color: #c651cd;
    color: #f5f5f5;
    border: none;
    border-radius: 15px 0px 0px 15px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.list {
    width: 100%;
    height: 60%;
    padding: 0 10px 10px 10px;
    overflow: auto;
}

.taskContainer {
    border-bottom: 1px solid #c651cd;
    padding: 10px 0;
    color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task {
    width: 170px;
}
i.fa-check, i.fa-trash-alt {
    opacity: 0;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
i.fa-check:hover {
    color: #5eb670;
}
i.fa-trash-alt:hover {
    color: #dc143c;
}
i.fa-check:active {
    transform: translateY(3px);
}
i.fa-trash-alt:active {
    transform: translateY(3px);
}
.taskContainer:hover i.fa-check, .taskContainer:hover i.fa-trash-alt {
    opacity: 1;
}